<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/81ea002fd8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="page2.css">
</head>
<body>
    <div class="top">
        <div class="top1">
            <img src="clogo.png">
        </div>
        <div class="top2">
            <p class="top21">You choose, We do it</p>
            <p class="top22">St. Joseph's College of Engineering</p>
            <p class="top23">Department of computer Science & Engineering</p>
        </div>
        <div class="top3">
            <img src="clogo1.PNG" class="top31">
        </div>
    </div>
    <div class="outer">
        <div class="nav">
            <div class="head_section">
              <img src="user.png" alt="">
              <div class="name">
                <h3><%=username%> </h3>
              </div>
            </div>
            <div class="nav_links">
                <ul>
                    <li><a href="details"><i class="fas fa-info-circle"></i><span>Staff Details</span></a></li>
                    <li><a href="uploadfile"><i class="fas fa-file-import"></i><span>Upload File</span></a></li>
                    <li><a href="generatefile"><i class="fas fa-file-export"></i><span>Generate File</span></a></li>
                    <li><a href="changepass"><i class="fas fa-key"></i><span>Change Password</span></a></li>
                    <li><a href="logout"><i class="fas fa-sign-out-alt"></i><span>Log Out</span></a></li>
                  </ul>
            </div>
          </div>
          <div class="upload">
              <h3>Upload file</h3>
              <form action="uploading" method="POST" enctype="multipart/form-data">
                <label for="batch">Batch :</label>
                <input type="text" list="batch0" id="batch" autocomplete="off" name="batch" required="required">
                <datalist id="batch0">
                    <option  id="batch1"></option>
                    <option  id="batch2"></option>
                    <option  id="batch3"></option>
                    <option  id="batch4"></option>
                    <option  id="batch5"></option>         
                </datalist>
                <br>
                <label for="sem">Semester :</label>
                <input type="text" id="sem" list="sem0" disabled="disabled" name="semester" required="required">
                <datalist id="sem0">
                    <option  id="">Semester 1</option>
                    <option  id="">Semester 2</option>
                    <option  id="">Semester 3</option>
                    <option  id="">Semester 4</option>
                    <option  id="">Semester 5</option>
                    <option  id="">Semester 6</option>
                    <option  id="">Semester 7</option>
                    <option  id="">Semester 8</option>        
                </datalist>
                <br>
                <label for="sub">Subject :</label>
                <input type="text" id="sub" list="sub0" disabled="disabled" autocomplete="off" name="subject" required="required">
                <datalist id="sub0"></datalist>
                <br>
                <label for="exa">Exam :</label>
                <input type="text" id="exa" list="exa0" disabled="disabled" name="exam" required="required">
                <datalist id="exa0"></datalist>
                <br>
                <input type="file" id="file" accept=".xlsx" name="file" required="required">
           
                <button type="submit">Submit</button>
            </form>
          </div>
    </div>   
    <script>
        var y=new Date().getFullYear();
        var st='<%-status%>';
        if(st=="1")
        window.alert("File Upload Successfully");
        var exam='<%-exam%>';
        var subject='<%-subject%>';
        exam=exam.split(",");
        subject=subject.split(",");
        for(i=0;i<5;i++)
        document.getElementById("batch"+(i+1)).innerHTML=""+(y-i)+"-"+(y-i+4);;
        document.getElementById("batch").addEventListener("keyup",function(){
        if(document.getElementById("batch").value.length>3)
        document.getElementById("sem").removeAttribute("disabled");
        if(document.getElementById("batch").value.length<9)
        document.getElementById("sem").setAttribute("disabled","disabled");
        });
        var sem;
        document.getElementById("sem").addEventListener("keyup",function(){
        sem=document.getElementById("sem").value;
        if(document.getElementById("sem").value.length>8)
        document.getElementById("sub").removeAttribute("disabled");
        if(sem=="Semester 1")
        {
            var sub=" ";
            var sem1="";
            for(i=0;i<subject.length;i++)
            {
                
                if(subject[i].split("#")[1]=="Semester1"&&document.getElementById("batch").value==subject[i].split("#")[0])
                {
                    sem1+=subject[i].split("#")[2]+"#";
                }
            }
           for(j=0;j<sem1.split("#").length;j++)
            {
                sub+=`<option>${sem1.split("#")[j]}</option>`;
            }
            document.getElementById("sub0").innerHTML=""+sub;
        }
        if(sem=="Semester 2")
        {
            var sub=" ";
            var sem1="";
            for(i=0;i<subject.length;i++)
            {
                
                if(subject[i].split("#")[1]=="Semester2"&&document.getElementById("batch").value==subject[i].split("#")[0])
                {
                    console.log("passed");
                    sem1+=subject[i].split("#")[2]+"#";
                }
            }
           for(j=0;j<sem1.split("#").length;j++)
            {
                sub+=`<option>${sem1.split("#")[j]}</option>`;
            }
            document.getElementById("sub0").innerHTML=""+sub;
        }
        if(sem=="Semester 3")
        {
            var sub=" ";
            var sem1="";
            for(i=0;i<subject.length;i++)
            {
                
                if(subject[i].split("#")[1]=="Semester3"&&document.getElementById("batch").value==subject[i].split("#")[0])
                {
                    console.log("passed");
                    sem1+=subject[i].split("#")[2]+"#";
                }
            }
           for(j=0;j<sem1.split("#").length;j++)
            {
                sub+=`<option>${sem1.split("#")[j]}</option>`;
            }
            document.getElementById("sub0").innerHTML=""+sub;
        }
        if(sem=="Semester 4")
        {
            var sub=" ";
            var sem1="";
            for(i=0;i<subject.length;i++)
            {
                
                if(subject[i].split("#")[1]=="Semester4"&&document.getElementById("batch").value==subject[i].split("#")[0])
                {
                    console.log("passed");
                    sem1+=subject[i].split("#")[2]+"#";
                }
            }
           for(j=0;j<sem1.split("#").length;j++)
            {
                sub+=`<option>${sem1.split("#")[j]}</option>`;
            }
            document.getElementById("sub0").innerHTML=""+sub;
        }
        if(sem=="Semester 5")
        {
            var sub=" ";
            var sem1="";
            for(i=0;i<subject.length;i++)
            {
                
                if(subject[i].split("#")[1]=="Semester5"&&document.getElementById("batch").value==subject[i].split("#")[0])
                {
                    console.log("passed");
                    sem1+=subject[i].split("#")[2]+"#";
                }
            }
           for(j=0;j<sem1.split("#").length;j++)
            {
                sub+=`<option>${sem1.split("#")[j]}</option>`;
            }
            document.getElementById("sub0").innerHTML=""+sub;
        }
        if(sem=="Semester 6")
        {
            var sub=" ";
            var sem1="";
            for(i=0;i<subject.length;i++)
            {
                
                if(subject[i].split("#")[1]=="Semester6"&&document.getElementById("batch").value==subject[i].split("#")[0])
                {
                    console.log("passed");
                    sem1+=subject[i].split("#")[2]+"#";
                }
            }
           for(j=0;j<sem1.split("#").length;j++)
            {
                sub+=`<option>${sem1.split("#")[j]}</option>`;
            }
            document.getElementById("sub0").innerHTML=""+sub;
        }
        if(sem=="Semester 7")
        {
            var sub=" ";
            var sem1="";
            for(i=0;i<subject.length;i++)
            {
                
                if(subject[i].split("#")[1]=="Semester7"&&document.getElementById("batch").value==subject[i].split("#")[0])
                {
                    console.log("passed");
                    sem1+=subject[i].split("#")[2]+"#";
                }
            }
           for(j=0;j<sem1.split("#").length;j++)
            {
                sub+=`<option>${sem1.split("#")[j]}</option>`;
            }
            document.getElementById("sub0").innerHTML=""+sub;
        }
        if(sem=="Semester 8")
        {
            var sub=" ";
            var sem1="";
            for(i=0;i<subject.length;i++)
            {
                
                if(subject[i].split("#")[1]=="Semester8"&&document.getElementById("batch").value==subject[i].split("#")[0])
                {
                    console.log("passed");
                    sem1+=subject[i].split("#")[2]+"#";
                }
            }
           for(j=0;j<sem1.split("#").length;j++)
            {
                sub+=`<option>${sem1.split("#")[j]}</option>`;
            }
            document.getElementById("sub0").innerHTML=""+sub;
        }
        });

        document.getElementById("sub").addEventListener("keyup",function(){
            var exa="";
            var exa1="";
            if(document.getElementById("sem").value=="Semester 1")
            {
                for(i=0;i<exam[0].split("@").length;i++)
                {
                    if(document.getElementById("batch").value==exam[0].split("@")[i].split("#")[0])
                    exa1+=exam[0].split("@")[i].split("#")[1]+"#";
                }
            }
            if(document.getElementById("sem").value=="Semester 2")
            {
                for(i=0;i<exam[0].split("@").length;i++)
                {
                    if(document.getElementById("batch").value==exam[1].split("@")[i].split("#")[0])
                    exa1+=exam[0].split("@")[i].split("#")[1]+"#";
                }
            }
            if(document.getElementById("sem").value=="Semester 3")
            {
                for(i=0;i<exam[0].split("@").length;i++)
                {
                    if(document.getElementById("batch").value==exam[2].split("@")[i].split("#")[0])
                    exa1+=exam[0].split("@")[i].split("#")[1]+"#";
                }
            }
            if(document.getElementById("sem").value=="Semester 4")
            {
                for(i=0;i<exam[0].split("@").length;i++)
                {
                    if(document.getElementById("batch").value==exam[3].split("@")[i].split("#")[0])
                    exa1+=exam[0].split("@")[i].split("#")[1]+"#";
                }
            }
            if(document.getElementById("sem").value=="Semester 5")
            {
                for(i=0;i<exam[0].split("@").length;i++)
                {
                    if(document.getElementById("batch").value==exam[4].split("@")[i].split("#")[0])
                    exa1+=exam[0].split("@")[i].split("#")[1]+"#";
                }
            }
            if(document.getElementById("sem").value=="Semester 6")
            {
                for(i=0;i<exam[0].split("@").length;i++)
                {
                    if(document.getElementById("batch").value==exam[5].split("@")[i].split("#")[0])
                    exa1+=exam[0].split("@")[i].split("#")[1]+"#";
                }
            }
            if(document.getElementById("sem").value=="Semester 7")
            {
                for(i=0;i<exam[0].split("@").length;i++)
                {
                    if(document.getElementById("batch").value==exam[6].split("@")[i].split("#")[0])
                    exa1+=exam[0].split("@")[i].split("#")[1]+"#";
                }
            }
            if(document.getElementById("sem").value=="Semester 8")
            {
                for(i=0;i<exam[0].split("@").length;i++)
                {
                    if(document.getElementById("batch").value==exam[7].split("@")[i].split("#")[0])
                    exa1+=exam[0].split("@")[i].split("#")[1]+"#";
                }
            }
            for(j=0;j<exa1.split("#").length;j++)
            {
                exa+=`<option>${exa1.split("#")[j]}</option>`;
            }

            document.getElementById("exa0").innerHTML=""+exa;
            if(document.getElementById("sub").value.length>0)
        document.getElementById("exa").removeAttribute("disabled");
        });
    </script>    
</body>
</html>
